<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>608157018159-l0n30k10bbt0qacbcmv2kst11vitdng0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.608157018159-l0n30k10bbt0qacbcmv2kst11vitdng0</string>
	<key>API_KEY</key>
	<string>AIzaSyBbxsvE7oLBg7GAZiLF8_30MKfMMe16FIk</string>
	<key>GCM_SENDER_ID</key>
	<string>608157018159</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.servicehubClient</string>
	<key>PROJECT_ID</key>
	<string>service-hub-client-a0f65</string>
	<key>STORAGE_BUCKET</key>
	<string>service-hub-client-a0f65.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608157018159:ios:56c7901d5d27974648beda</string>
</dict>
</plist>